.container {
  width: 100%;
  max-width: 1440px;
  padding: 1.5rem 0;
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 2rem;
  self-align: center;
  margin: 0 auto;
  color: #646d7a;
}

.title span {
  color: #ececec;
}

.nft {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.nft > h2 {
  color: #646d7a;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.25rem;
}

.nft > p {
  color: #646d7a;
  font-size: 1rem;
  font-weight: 400;
  margin: 0.75rem 0;
  padding: 0 1rem;
}

.attributes {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

.attribute {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 0 1rem;
  border: 1px solid #323232;
  border-radius: 8px;
  min-width: 70px;
  padding: 15px 10px;
  gap: 5px;
}

.attributeKey {
  color: #646d7a;
  font-size: 0.75rem;
  font-weight: 600;
  text-transform: uppercase;
  text-align: left;
}

.attributeValue {
  color: #fff;
  font-size: 1.25rem;
  text-transform: capitalize;
  font-weight: 600;
  text-align: left;
}

.claimButton {
  margin-top: 20px;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  background-color: #f5f5f5;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  color: #000;
  width: 85vw;
  margin-top: 1.5rem;
  padding: 10px 0;
  height: 48px;
}

.connectBtn {
  width: 85vw !important;
  margin-top: 1.5rem !important;
}
