.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: absolute;
  width: 100%;
  top: 0;
  background: #131417;
}

.link {
  text-decoration: none;
  color: #eaeaea;
  font-weight: 600;
  font-size: 1.2rem;
}
