.container {
  width: 100%;
  max-width: 1440px;
  padding: 0 1rem;
  margin: 100px auto;
}

.nfts,
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 24px;
  width: 100%;
  margin-top: 3rem;
}

.grid {
  grid-template-columns: repeat(4, 1fr);
}

.nft {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #eaeaea;
  padding-bottom: 20px;
  border-radius: 10px;
  width: 300px;
}

.nftImage {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.nft p {
  margin: 0 20px;
  text-align: center;
  opacity: 0.8;
}

.claimButton {
  margin-top: 20px;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  background-color: #f5f5f5;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  color: #000;
}
